<html>
<head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    {% load markdown_deux_tags %}
    <!--{% markdown_allowed %}-->
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="index.html" class="logo">casadeFadi</a>
        <nav id="nav">
            <a href="index.html">Home</a>
            <a href="blog.html">Blog</a>
            <a href="about-me.html">About Me</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner3">
    <h1>Fadi Ghanim</h1>
    <p>"I believe every human has a finite number of heartbeats. I don't intend to waste any of mine."</p>
    <p>-Neil Armstrong</p>
</section>

{% for blog in blogs %}
  {% if forloop.counter|divisibleby:2 %}
    <section id="two" class="wrapper">
  {% else %}
    <section id="two" class="wrapper style1 special">
  {% endif %}
      <div class="inner">
          <div class="flex flex-12">
              <article>
                  <header>
                      <h3>{{blog.title}}</h3>
                  </header>
                  <p>{{ blog.content|markdown:"STYLE" }}</p>
            </article>
          </div>
      </div>
  </section>
{% endfor %}

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Fadi Ghanim. All Rights Reserved.
                <br>
                Design: TEMPLATED</a>. Images: Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
        </div>
    </div>
</footer>


<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
</body>
</html>
